# Project-local exclusions
/.github/
/.rv-lua-parse/
/.venv/
.tmp-railroader-2.1/
/game-decompiled/
/official lua scripts/
/reference mods/
/steamcmd/
/testserver/
/modinfos.json
__pycache__/
/.vs/PZ-mod-project.slnx/FileContentIndex
/.vs/PZ-mod-project.slnx/v18
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
